@page "/nav"
@inject WeatherApiService WeatherService
@code {
    string[] popularCities = {
    "New York",
    "London",
    "Paris",
    "Dublin"
};

}


@code {
    [Parameter]
    public dynamic? myData { get; set; }
    private string? searchBarText;
    private string? popcityText;
    [Parameter]
    public List<dynamic>? dynamicData { get; set; }


    [Parameter]
    public EventCallback<string> OnUpdateForecast { get; set; }

    // Method to update the parent value and trigger the event callback
    private async Task UpdateForecast(string s)
    {
        await OnUpdateForecast.InvokeAsync(s);
    }

    [Parameter]
    public EventCallback<string> OnUpdateParentData { get; set; }

    // Method to update the parent value and trigger the event callback
    private async Task UpdateParentData(string s)
    {
        await OnUpdateParentData.InvokeAsync(s);
    }

    [Parameter]
    public bool Celsius { get; set; }


    [Parameter]
    public List<double>? MyListCelsius { get; set; }

    [Parameter]
    public List<double>? MyListFahrenheit { get; set; }

    [Parameter]
    public List<string>? MyListIcons { get; set; }

    [Parameter]
    public EventCallback ToggleTemp { get; set; }

    private async Task ToggleTemperature()
    {
        // Notify the parent component to execute its toggle function
        await ToggleTemp.InvokeAsync();
    }
    
}

<div class="custom-navbar" >
    <div class="nav-items">
         <i class="fa fa-sun-o" style="font-size:30px;color:yellow;margin-right:2.5%"></i>
        <span class="navbar-brand" href="#">WeatherVue</span>
         @if (Celsius)
        {
                                   <span class="navbar-brand" href="#" style="font-size:15px;">@dynamicData[0].location.name, @dynamicData[0].location.country @dynamicData[0].current.temp_c°c</span>
        }
        else
        {
                                                            <span class="navbar-brand" href="#" style="font-size:15px;">@dynamicData[0].location.name, @dynamicData[0].location.country @dynamicData[0].current.temp_f°f</span>
        }

       <img src="@dynamicData[0].current.condition.icon" alt="Weather Icon" width="32" height="32" />
       <div style="margin-right: 50px;"></div>


        <input class="search-input" type="text" placeholder="City e.g. London, Barcelona" aria-label="Search" @bind="searchBarText" >
        <button class="search_button" type="button" @onclick="()=>UpdateForecast(searchBarText)">Search</button>
        <div  style="padding-right: 50px;"></div>
        <span class="celsius_nav">C</span>
       <div style="padding-right: 25px;"></div>

        <label class="switch"  data-tg-on="N" data-tg-off="FF" >
        <input type="checkbox" @onclick="ToggleTemperature">
        <span class="slider"></span>
        </label>
        <div style="padding-left: 25px;"></div>
        <span class="fahrenheit_nav">F</span>

 <span class="glyphicon glyphicon-plus"></span>
        <div class="switch_container" >

</div>
    </div>
</div>

<div class="cities_navbar">
    @if (MyListCelsius != null && dynamicData[0] != null)
    {
        @foreach (var city in Enumerable.Range(0, popularCities.GetLength(0)))
        {       


                                                                            <span class="separator_span" style="transition: color 0.3s; cursor: pointer;" onmouseover="this.style.color='#66c2ff'" onmouseout="this.style.color='white'"
                                                        @onclick="() => UpdateForecast(popularCities[city])">@popularCities[city]</span>
            @if (Celsius)
            {
                                                                       <span class="city_text" href="#" style="font-size:15px;">@MyListCelsius[city]°c</span>

            }
            else
            {
                                                                        <span class="city_text" href="#" style="font-size:15px;">@MyListFahrenheit[city]°f</span>
            }
                             <div style="padding-right:10px;"></div>
                   <img src="@MyListIcons[city]" alt="Weather Icon" width="32" height="32" />


                                                      <span class="separator_span">|</span>
            //<span>@GetTemperature(city)</span>
        }
    }
</div>

