@inject WeatherApiService WeatherService

@code {
    [Parameter]
    public dynamic? myData { get; set; }

    [Parameter]
    public List<dynamic>? dynamicData { get; set; }


    [Parameter]
    public EventCallback<string> OnUpdateForecast { get; set; }

    // Method to update the parent value and trigger the event callback
    private async Task UpdateForecast(string s)
    {
        await OnUpdateForecast.InvokeAsync(s);
    }

    [Parameter]
    public bool Celsius { get; set; }

    [Parameter]
    public EventCallback<string> OnUpdateParentData { get; set; }


    // Method to update the parent value and trigger the event callback
    private async Task UpdateParentData(string s)
    {
        await OnUpdateParentData.InvokeAsync(s);
    }
    


    private int sliderValue = 0;
    private bool ForecastDays = false;

    private void UpdateSlider(ChangeEventArgs e)
    {
        sliderValue = Convert.ToInt32(e.Value);
        timeAdjustmentMinutes = sliderValue * 1;
        if (!ForecastDays)
        {
            adjustedTime = current.AddMinutes(timeAdjustmentMinutes);

        }
        else
        {

            if (sliderValue <= 1380)
            {
                adjustedTime = adjustedTime.Date;
                adjustedTime = adjustedTime.AddMinutes(timeAdjustmentMinutes);
            }
        }
        
    }
    private void ResetSlider(int day)
    {
        if(day==0)
        {
            ForecastDays = false;
        }
        else
        {
            ForecastDays = true;
        }
        DateTime currentDate = DateTime.Now;
        DateTime tomorrowDate = currentDate.AddDays(day);
        adjustedTime = new DateTime(tomorrowDate.Year, tomorrowDate.Month, tomorrowDate.Day, currentDate.Hour, currentDate.Minute, 0);


    }
    private DateTime current = DateTime.Now;
    private DateTime currentTime = DateTime.Now;
    private DateTime forecastTime = DateTime.Now;
    private int timeAdjustmentMinutes;

    private DateTime adjustedTime;
    protected override void OnInitialized()
    {
        // Get the current date
        DateTime currentDate = DateTime.Now;
        adjustedTime = currentDate;

    }


    private void print()
    {
        Console.WriteLine(DateTime.Today);
        Console.WriteLine(dynamicData[0].location.name);

    }



}


    <div class="container1">
        <div class="container1_margin">
            <p>@dynamicData[@adjustedTime.Day - @current.Day].location.name, @dynamicData[@adjustedTime.Day - @current.Day].location.country</p>

            <div class="row">
                 <div class="col-md-1" style="margin-right:2%;">

                <img src="@dynamicData[@adjustedTime.Day - @current.Day].forecast.forecastday[0].hour[@adjustedTime.Hour].condition.icon"/>
                     </div>
                      <div class="col-md-4">
                           @if (Celsius)
                {
                            <h1>@dynamicData[@adjustedTime.Day - @current.Day].forecast.forecastday[0].hour[@adjustedTime.Hour].temp_c°c</h1>

                }
                else
                {
                                <h1>@dynamicData[@adjustedTime.Day - @current.Day].forecast.forecastday[0].hour[@adjustedTime.Hour].temp_f°f</h1>
                }
                     </div>
                      <div class="col-md-4">
                           <p style="margin: 0;">Wind: @dynamicData[@adjustedTime.Day - @current.Day].forecast.forecastday[0].hour[@adjustedTime.Hour].wind_kph KMPH</p>
                                <p style="margin: 0;">Humidity @dynamicData[@adjustedTime.Day - @current.Day].forecast.forecastday[0].hour[@adjustedTime.Hour].humidity %</p>


                          </div>
            </div>

              <p>@dynamicData[@adjustedTime.Day - @current.Day].forecast.forecastday[0].hour[@adjustedTime.Hour].condition.text | @adjustedTime.ToString("ddd, dd, HH:mm")</p>
        

        @if (ForecastDays)
        {
            DateTime currentDate = DateTime.Now;
            DateTime tomorrowDate = currentDate.AddDays(1).Date; // Resetting time part to midnight

            @for (int i = 1; i < 9; i++)
            {

                                                        <p style="display: inline; margin-right: 40px;">@tomorrowDate.ToString("H:mm")</p>
                tomorrowDate = new DateTime(@tomorrowDate.Year, tomorrowDate.Month, tomorrowDate.Day, tomorrowDate.Hour, 0, 0);

                tomorrowDate = @tomorrowDate.AddHours(3);

            }
        }
        else{
            @for (int i = 1; i < 9; i++)
            {

                                        <p style="display: inline; margin-right: 40px;">@currentTime.ToString("H:mm")</p>
                currentTime = new DateTime(@currentTime.Year, currentTime.Month, currentTime.Day, currentTime.Hour, 0, 0);

                currentTime = @currentTime.AddHours(3);

            }
        }
           
  


<div>

    <input class="range" type="range" id="slider" name="slider" min="0" max="1440" step="1" @bind="sliderValue"   @oninput="UpdateSlider" />
</div>


 <div class="temp_cards">
            @for (int i = 0; i < 7; i++)
            {
                int currentIndex = i; 
                         <div class="temp_day" @onclick="() => ResetSlider(currentIndex)">
                    <div class="card-body">
                        <h5 class="card-title">Card @(i + 1)</h5>
                        <p class="card-text">7</p>
                        <p class="card-text">11</p>
                    </div>
                </div>
            }
            
         



            </div>
</div>

</div>

            
 <div class="container1">
        <div class="container1_margin">
 <div class="centered_container">
     <h3>Weather Insights</h3>
     <div class="row">
         <div class=col-md-2>
             <img src="@dynamicData[0].forecast.forecastday[0].hour[current.Hour].condition.icon" /> 
         </div>
         <div class=col-md-8>
                    @if (Celsius)
                    {
            <h5>Feels like @dynamicData[0].current.feelslike_c°c</h5>

                    }
                    else
                    {
             <h5>Feels like @dynamicData[0].current.feelslike_f°f</h5>
                    }
         </div>
     </div>
     <h5>@dynamicData[0].current.condition.text</h5>
           
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="forecast_item">
                <div><p>Chance of Rain </p></div>
                <div>@dynamicData[0].forecast.forecastday[0].day.daily_chance_of_rain%</div>
                </div>
                <div class="forecast_item">
                    <div> <p >Low - High</p></div>
                     @if (Celsius)
                            {
                                    <div>@dynamicData[0].forecast.forecastday[0].day.mintemp_c - 
                                    @dynamicData[0].forecast.forecastday[0].day.maxtemp_c°C</div>
                            }
                            else
                            {
                                     <div>@dynamicData[0].forecast.forecastday[0].day.mintemp_f - 
                                    @dynamicData[0].forecast.forecastday[0].day.maxtemp_f°F</div>
                            }

                </div>
                <div class="forecast_item">
                    <div> <p >Humidity</p></div>
                    <div>@dynamicData[0].forecast.forecastday[0].day.avghumidity%</div>
                </div>


            </div>
            <div class="col-md-6">
                 <div class="forecast_item">
                <div><p>Sunrise</p></div>
                <div>@dynamicData[0].forecast.forecastday[0].astro.sunrise</div>
                </div>
                <div class="forecast_item">
                <div><p>Sunset</p></div>
                <div>@dynamicData[0].forecast.forecastday[0].astro.sunset</div>
                </div>
                <div class="forecast_item">
                <div><p>Wind</p></div>
                <div>@dynamicData[0].current.wind_kph KPH</div>
                </div>
 
            </div>

        </div>
          </div>
    

</div>


</div>
</div>

<div class="navigation">
  <div>
    
    <h1>TWITCHBOOK</h1>
  </div>

  <div >
    <h3>Luka Crypto</h3>

  </div>
</div>